.lastSpecies {
  padding-top: 10px 15px;
  margin-left: 10px;
  height: 29px;
  font-weight: normal;
}

.cardBox {
  margin-left: 20px;
  background-color: rgb(69, 187, 207);
  color: aliceblue;
  font-weight: bold;
}

.cardBox:hover {
  background-color: rgb(78, 155, 168);
}
