.CardImages {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  margin-top: 20px;
  justify-content: center;
  text-decoration: none;
}

.lasName {
  padding-top: 10px 15px;
  margin-left: 10px;
  height: 29px;
  padding-top: 8px;
}

.photo {
  width: 240px;
}
.box {
  margin-left: 20px;
  background-color: rgb(69, 187, 207);
  color: aliceblue;
  font-weight: bold;
}

body {
  background-color: black;
}

.noResults {
  color: whitesmoke;
}
