.inputTextBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

 
  }

.selectBox {
 justify-content: center;
}


@media all and (min-width: 768px) {
  .inputTextBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


.inputText {
  font-size: 18px;
  color: rgb(252, 248, 248);
  border: 1px solid rgb(250, 254, 255);
  padding-left: 15px;
  height: 30px;
  background-color: rgba(190, 228, 159, 0.767);
  margin-bottom: 10px;
}

.selectSpecie {
  font-size: 18px;
  color: rgb(116, 119, 117);
  border: 1px solid rgb(255, 255, 255);
  height: 37px;
  background-color: rgba(190, 228, 159, 0.767);
  margin-left: 20px;
  margin-bottom: 10px;
}

.selectStatus {
  font-size: 18px;
  color: rgb(116, 119, 117);
  border: 1px solid rgb(252, 254, 255);
  height: 37px;
  background-color: rgba(190, 228, 159, 0.767);
  margin-bottom: 10px;
}

.option {
  color: rgb(36, 34, 34);
  font-size: 5pz;
}

@media all and (min-width: 768px) {
  .inputText {
    font-size: 25px;
    width: 350px;
    height: 50px;
  }

  .selectSpecie {
    width: 150px;
    font-size: 25px;
    height: 50px;
    margin-right: 10px;
  }

  .selectStatus {
    width: 150px;
    font-size: 25px;
    height: 50px;
    margin-left: 10px;
  }
}

@media all and (min-width: 1220px) {
  .inputText {
    font-size: 20px;
    width: 600px;
    height: 35px;
  }

  .selectSpecie {
    font-size: 20px;
    width: 150px;
    height: 35px;
  }

  .selectStatus {
    font-size: 20px;
    width: 150px;
    height: 35px;
  }
}
