.inputTextBox {
  text-align: center;
}

.inputText {
  font-size: 18px;
  color: whitesmoke;
  border: 1px solid rgb(69, 187, 207);
  width: 300px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.767);
}

@media all and (min-width: 768px) {
  .inputText {
    font-size: 25px;
    width: 600px;
    height: 50px;
  }
}

@media all and (min-width: 1220px) {
  .inputText {
    font-size: 20px;
    width: 600px;
    height: 35px;
  }
}
